<div class="row">
    <div class="small-12 columns">
        <div class="panel size09" style="overflow: hidden; padding: 10px 10px 0;">
            <div class="row">
                <div class="small-7 columns" style="padding-top: 10px;">
                    Search results: 12 of 4,342
                </div>

                <div class="small-2 columns text-right" style="padding-top: 10px;">
                    Sort by
                </div>

                <div class="small-3 columns">
                    <select name="sortBy" id="" style="display: inline;">
                        <option value="">New and popular</option>
                        <option value="">Price: low to high</option>
                        <option value="">Category: A-Z</option>
                        <option value="">Availability</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-3 columns">
        <ng-include src="'/template/catalog/filters.html'"></ng-include>
    </div>
    <div class="small-9 columns">
        <ui-view/>
    </div>
</div>